html {
  width: 100%;
}
html body {
  width: 100%;
}
html body .wrapper {
  width: 100%;
  /*max-width: 1280px;*/
}
html body .wrapper .logo {
  position: fixed;
  left: 0px;
  top: 85px;
  width: 5%;
  /*padding-top: 85px;*/
  /*max-width: 64px;*/
  /*max-height: 1024px;*/
}
html body .wrapper .logo a {
  float: left;
}
html body .wrapper .logo a img {
  width: 31px;
  height: auto;
  /*width: 2.5%;*/
}
html body .wrapper .content {
  width: 90%;
  /*max-width: 1152px;*/
  margin: 10px 64px 10px 64px;
}
html body .wrapper .content header {
  background-color: #CCCCCC;
  height: 105px;
  padding-left: 10px;
  padding-right: 10px;
}
html body .wrapper .content header nav {
  float: left;
}
html body .wrapper .content header nav ul {
  margin-top: 73px;
}
html body .wrapper .content header nav ul li {
  float: left;
  padding-top: 10px;
  padding-bottom: 6px;
  margin-right: 2px;
  background-color: #666666;
  width: 102px;
  text-align: center;
}
html body .wrapper .content header nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}
html body .wrapper .content header .language-flags {
  float: right;
}
html body .wrapper .content header .language-flags a img {
  height: 20px;
  width: 28px;
  margin-top: 76px;
  border: 2px solid #909090;
  /*TODO border: 2px solid @selected-language-border;*/
}
html body .wrapper .content section {
  background-color: yellow;
  margin-top: 10px;
  margin-bottom: 10px;
}
html body .wrapper .content section article {
  background-color: deepskyblue;
  /*float: left;*/
  width: 70%;
  /*width: 794px;*/
  display: inline-block;
}
html body .wrapper .content section article table {
  /*TODO*/
}
html body .wrapper .content section aside {
  float: right;
  background-color: greenyellow;
  width: 30%;
  /*width: 344px;*/
}
html body .wrapper .content footer {
  border: 1px solid red;
}