html {
  width: 100%;
}
html body {
  width: 100%;
}
html body .wrapper {
  /*display: inline-block;*/
  width: 100%;
  max-width: 1280px;
  /*justify-content: center;*/
}
html body .wrapper .logo {
  float: left;
  padding-top: 85px;
  /*max-width: 64px;*/
  /*max-height: 1024px;*/
  width: 5%;
}
html body .wrapper .logo a img {
  width: 31px;
  height: auto;
  /*width: 2.5%;*/
  float: left;
}
html body .wrapper .content {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  /*max-width: 1152px;*/
  width: 90%;
}
html body .wrapper .content header {
  background-color: #CCCCCC;
  height: 105px;
  padding-left: 10px;
  padding-right: 10px;
}
html body .wrapper .content header nav {
  float: left;
}
html body .wrapper .content header nav ul {
  margin-top: 73px;
  /*margin-right: 2px;*/
}
html body .wrapper .content header nav ul li {
  float: left;
  padding-top: 10px;
  padding-bottom: 6px;
  margin-right: 2px;
  background-color: #666666;
  width: 102px;
  text-align: center;
}
html body .wrapper .content header nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
}
html body .wrapper .content header .language-flags {
  float: right;
}
html body .wrapper .content header .language-flags a img {
  height: 20px;
  width: 28px;
  margin-top: 76px;
  border: 2px solid #909090;
  /*TODO border: 2px solid @selected-language-border;*/
}
html body .wrapper .content section {
  border: 1px solid red;
  margin-top: 10px;
  margin-bottom: 10px;
}
html body .wrapper .content section article {
  background-color: deepskyblue;
}
html body .wrapper .content section article table {
  /*TODO*/
}
html body .wrapper .content section aside {
  /*TODO*/
}
html body .wrapper .content footer {
  border: 1px solid red;
}